.wrapper{
    height: 100%;
}

.logoandinfo{
    font-family: Helvetica, Arial, sans-serif;
}

#GPFLogo{
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    height:100px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    float:left
}

#GPFAddressTitle{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    float: left;
}

.title{
    font-family: Helvetica, Arial, sans-serif;
    float: right;
}

#statement_title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

table{
    border-collapse: collapse; 
    empty-cells: show;
    font-family: Helvetica, Arial, sans-serif;
    width:100%;
}
th{
    border:1px solid black;
}

tr:nth-child(even) {
    background-color: #c2c0c0;
}
td,tr{
    border:1px solid black;
    font-size: small;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}